<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">

    <title>Détail Utilisateur</title>
</head>

<body>

    <nav class="navbar bg-primary">
        <form class="container-fluid justify-content-between">
            <img class="col-1" src="../assets/img/logos/fire.png" alt="logo ">
            <button class="btn btn-info me-2" type="button">Gestion des modèles de formation</button>
            <button class="btn btn-info me-2" type="button">Gestion des formations</button>
            <button class="btn btn-info me-2" type="button">Gestion des formateurs</button>
            <button class="btn btn-success me-2" type="button">Gestion des sessions d'examen</button>
            <button class="btn btn-success me-2" type="button">Gestion des jurés</button>
            <button class="btn btn-success me-2" type="button">Import VALCES/CERES</button>

            <div class="d-flex flex-column border p-1 rounded">
                <button class="btn btn-warning me-2 m-1" type="button ">Mon compte</button>
                <button class="btn btn-danger me-2 " type="button ">Deconnexion</button>
            </div>
        </form>

    </nav>


    <!-- DETAIL USER -->
    <div class="container-fluid">

        <div class="card p-4">
            <div class="card-body">
                <h1 class="card-title text-center">Bonjour Jean-Patrice Utilisateur</h1>
                <h3 class="card-title text-center">Votre ID : <span>12345678911</span></h3>
                <h2 class="card-title text-center">Votre statut : <span>Formateur</span></h2>
            </div>
            <button class="btn btn-warning me-2 m-1" type="button ">Modifier le mot de passe</button>
        </div>
    </div>

    <script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>