<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">

    <title>Gestion des modèles de formation</title>
</head>

<body>

    <nav class="navbar bg-primary">
        <form class="container-fluid justify-content-between">
            <img class="col-1" src="../assets/img/logos/fire.png" alt="logo ">
            <button class="btn btn-info me-2" type="button">Gestion des modèles de formation</button>
            <button class="btn btn-info me-2" type="button">Gestion des formations</button>
            <button class="btn btn-info me-2" type="button">Gestion des formateurs</button>
            <button class="btn btn-success me-2" type="button">Gestion des sessions d'examen</button>
            <button class="btn btn-success me-2" type="button">Gestion des jurés</button>
            <button class="btn btn-success me-2" type="button" disabled>Import VALCES/CERES</button>

            <div class="d-flex flex-column border p-1 rounded">
                <button class="btn btn-warning me-2 m-1" type="button ">Mon compte</button>
                <button class="btn btn-danger me-2 " type="button ">Deconnexion</button>
            </div>
        </form>

    </nav>


    <!-- GESTION DES FORMATIONPATTERN -->
    <div class="container-fluid p-4">
        <h2>Gestion des modèles de formation</h2>
        <table id="tableGestionModelesFormation" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Libellé</th>
                    <th scope="col">Descriptif</th>
                    <th scope="col">Habilitation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac gravida neque. Phasellus id erat risus. Praesent facilisis lacus id commodo luctus. Fusce cursus massa id nisl venenatis, vitae fermentum arcu accumsan. In massa ante,
                        eleifend in mattis eget, viverra quis lorem. Nullam ultricies risus a pellentesque fermentum. Mauris sed mollis metus, in efficitur ex. Nunc dignissim, velit vel finibus suscipit, sem velit pellentesque diam, eget posuere nunc
                        mi et lacus.</td>
                    <td>Habilitation 1</td>
                    <td><a href="#" class="btn btn-info">Modifier</a></td>
                    <td><a href="#" class="btn btn-outline-danger">Supprimer</a>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac gravida neque. Phasellus id erat risus. Praesent facilisis lacus id commodo luctus. Fusce cursus massa id nisl venenatis, vitae fermentum arcu accumsan. In massa ante,
                        eleifend in mattis eget, viverra quis lorem. Nullam ultricies risus a pellentesque fermentum. Mauris sed mollis metus, in efficitur ex. Nunc dignissim, velit vel finibus suscipit, sem velit pellentesque diam, eget posuere nunc
                        mi et lacus.</td>
                    <td>Habilitation 2</td>
                    <td><a href="#" class="btn btn-info">Modifier</a></td>
                    <td><a href="#" class="btn btn-outline-danger">Supprimer</a>
                </tr>
                <tr>
                    <td>Larry the Bird</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac gravida neque. Phasellus id erat risus. Praesent facilisis lacus id commodo luctus. Fusce cursus massa id nisl venenatis, vitae fermentum arcu accumsan. In massa ante,
                        eleifend in mattis eget, viverra quis lorem. Nullam ultricies risus a pellentesque fermentum. Mauris sed mollis metus, in efficitur ex. Nunc dignissim, velit vel finibus suscipit, sem velit pellentesque diam, eget posuere nunc
                        mi et lacus.</td>
                    <td>Habilitation 3</td>
                    <td><a href="#" class="btn btn-info">Modifier</a></td>
                    <td><a href="#" class="btn btn-outline-danger">Supprimer</a> </tr>
                <tr>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td colspan="2"><a href="#" class="btn btn-success">Ajouter</a></td>
                </tr>
            </tbody>
        </table>

    </div>


    <script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>