<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">

    <title>Document</title>
</head>

<body>

    <nav class="navbar bg-primary">
        <form class="container-fluid justify-content-between">
            <img class="col-1" src="../assets/img/logos/fire.png" alt="logo ">
            <button class="btn btn-info me-2" type="button">Gestion des modèles de formation</button>
            <button class="btn btn-info me-2" type="button">Gestion des formations</button>
            <button class="btn btn-info me-2" type="button">Gestion des formateurs</button>
            <button class="btn btn-success me-2" type="button">Gestion des sessions d'examen</button>
            <button class="btn btn-success me-2" type="button">Gestion des jurés</button>
            <button class="btn btn-success me-2" type="button">Import VALCES/CERES</button>

            <div class="d-flex flex-column border p-1 rounded">
                <button class="btn btn-warning me-2 m-1" type="button ">Mon compte</button>
                <button class="btn btn-danger me-2 " type="button ">Deconnexion</button>
            </div>
        </form>
    </nav>


    <!-- GESTION DES JURES -->
    <div class="container-fluid p-4">
        <table id="tableGestionJures" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Habilitation</th>
                    <th scope="col">Spécialité</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Détail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>truc</td>
                    <td>machin</td>
                    <td>@mdo</td>
                    <td><button class="btn btn-outline-secondary me-2 rounded-circle p-2" type="button"><img src="../assets/img/logos/loupe.png" alt="loupe" style="max-height: 25px;"></button></td>

                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>tretere</td>
                    <td>@fat</td>
                    <td><button class="btn btn-outline-secondary me-2 rounded-circle p-2" type="button"><img src="../assets/img/logos/loupe.png" alt="loupe" style="max-height: 25px;"></button></td>

                </tr>
                <tr>
                    <td>Larry the Bird</td>
                    <td>twitter</td>
                    <td>Brouette</td>
                    <td>@ici</td>
                    <td><button class="btn btn-outline-secondary me-2 rounded-circle p-2" type="button"><img src="../assets/img/logos/loupe.png" alt="loupe" style="max-height: 25px;"></button></td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>